@using Microsoft.AspNetCore.Mvc.Localization;
@using Votp.Models.Request;
@model TokenIDto
@inject IViewLocalizer Loc

@{
    ViewData["Title"] = Loc["Add token"];
}

<h1>Adding Token</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <a asp-controller="SystemTimeToken" asp-action="Add">Add TToken</a>
    </div>
</div>

<div>
    <a asp-action="Index">@Loc["Back to token list"]</a>
</div>
