@using Microsoft.AspNetCore.Mvc.Localization;
@model string
@inject IViewLocalizer Loc;

@{
    ViewData["Title"] = Loc["Details"];
}

<h1>Error while processing token</h1>

@Html.DisplayNameFor(model => model);